.internationalization-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-internationalization {
    width: 90%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid lightgray;
    outline: none;
}

.button-internationalization {
    align-self: flex-end; /* Alinear el botón a la derecha */
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 80px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .button-internationalization {
        margin-right: 0;
        align-self: center; /* Centra el botón en dispositivos más pequeños */
    }
}
