.sidebar {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    background-image: url('./../../assets/images/layouts/background.png');
    background-size: cover; 
    background-position: center;
    display: flex;
}

.sidebar-top {
    /* flex: 1; */
    display: flex;
    align-items: flex-start;  /* Align the image to the top */
    justify-content: center;
    background-color: #AFAAB4;  /* Set the background color */
    padding-block: 10px;
    padding-inline: 15px;
    cursor: pointer;
}

.sidebar-logo {
    width: 100%;  /* Make the image span the entire width */
    display: block;  /* Block display to remove any extra space below the image */
}

.sidebar-options {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 4rem;
}

.option {
    background-color: #034A91;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
    margin-block: 5%;
    cursor: pointer;
    /* demás estilos que necesitemos */
}

.sidebar-bottom {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
}

.logout-action {
    font-size: 1rem;
}

.toggle-sidebar-btn {
    display: none;
    position: fixed;
    right: 15px; /* Aumentar la distancia del borde derecho */
    top: 15px; /* Aumentar la distancia del borde superior */
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3); /* Blanco con opacidad para suavizar */
    color: white;
    border: none;
    padding: 8px; /* Reducir el padding para hacer el botón más pequeño */
    border-radius: 4px; /* Bordes menos redondeados */
    z-index: 1000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil para destacar sobre la imagen de fondo */
}

.bar {
    background-color: #666; /* Gris más suave */
    height: 2px; /* Reducir la altura para barras más delgadas */
    margin: 4px 0; /* Reducir el margen */
    width: 20px; /* Reducir el ancho */
}

.beside-logout {
    /* right: unset;  */
    /* top: 49rem; */
    bottom: 1rem;
    right: 200px;
    position: sticky;
    margin-left: 10px;
    background-color: #FFFFFF;
}

@media (max-width: 920px) {
    .toggle-sidebar-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sidebar {
        display: none;
    }

    .sidebar.visible {
        display: flex;
    }
}