img {
    width: 200px; 
    height: auto; 
    margin-bottom: 20px; 
}

h2 {
    font-size: 42px;
    color: #1e4f8f;
    margin: 70px;
}

p {
    font-weight: bold;
    font-size: 14px;
    margin-left: 60px;
    padding-right: 60px;
}

a {
    color: black;
    text-decoration: underline;
}

input {
    margin-left: 55px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
    padding: 8px;
    display: block;
}

button {
    margin: 30px 0 10px 55px;
    border-radius: 5px;
    width: 200px;
    padding: 8px;
    color: grey;
    background-color: #003366;
}

button[type="submit"] {
    margin: 30px 0 10px 55px;
    border-radius: 5px;
    width: 200px;
    padding: 8px;
    color: white;
    background-color: #003366;
}
